<div class="user">
  <div class="sidebar">
    <h1 class="society"><%= current_user.society.name %></h1>
    <img class="account-photo" src="http://www.genengnews.com/app_themes/genconnect/images/default_profile.jpg" alt="profile_picture">
    <p><%= current_user.name %></p>
    <p><%= current_user.email %></p>
    <div class="balance">
      <h2 class="balance-amt">$XX.XX</h2>
      <button class="pay-now-btn">Pay Now</button>
    </div>
    <%= link_to "Logout", logout_path, class: "btn" %>
  </div>

  <div class="main-content">
    <div class="nav">
      <ul>
        <li><%= link_to "Expenses", society_expenses_path %></li>
        <li>History</li>
        <li><%= link_to "Account", society_user_path %></li>
      </ul>
    </div>

    <div class="content">
      <a href="/auth/venmo" class="btn add-account-btn">Link Venmo Account</a>
      <div class="payment-accounts">
        <% current_user.accounts.each do |account| %>
          <div class="payment-account">
            <h3 class="account-name"><%= account.provider %></h3>
            <table class="payment-account-table">
              <tr>
                <td>Name</td>
                <td>XXXX</td>
                <td><%= link_to "Unlink", society_user_account_path(current_user, account), method: "DELETE", class:"btn" %></td>
              </tr>
            </table>
          </div>
        <% end %>
      </div>
      <div class="account-settings">
        <h3>Account Settings</h3>
        <table class="account-table">
          <tr>
            <td>I'm done with this</td>
            <td><%= link_to "Delete Account", society_user_path(current_user.society, current_user), method: "DELETE", class: "btn" %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

