<div class="user">
  <%= render "/shared/sidebar" %>
  <div class="main-content">
    <%= render "/shared/user_nav" %>
    <div class="content">
      <% if current_user.accounts.empty? %><a href="/auth/venmo" class="btn add-account-btn">Link Venmo Account</a><% end %>
      <div class="payment-accounts">
        <% current_user.accounts.each do |account| %>
          <div class="payment-account">
            <table class="payment-account-table">
              <tr>
                <th>Provider</th>
                <th>Username</th>
                <th></th>
              </tr>
              <tr>
                <td><h3 class="account-name"><%= account.provider %></td>
                <td><%= account.identifier %></td>
                <td><%= link_to "Unlink", society_user_account_path(current_user, account), method: "DELETE", class:"btn" %></td>
              </tr>
            </table>
          </div>
        <% end %>
      </div>
      <div class="account-settings">
        <h3>Account Settings</h3>
        <%= link_to "Edit Account", edit_user_registration_path, class: "btn" %>
      </div>
    </div>
  </div>
</div>

