  <div class="sidebar">
    <h1 class="society-header"><%= current_user.society.name %></h1>
    <img class="account-photo" src=<%= current_user.image %> alt="profile_picture">
    <p><%= current_user.name %></p>
    <div class="balance">
      <div class="balance-header">total owed</div>
      <h2 class="balance-amt"><%= current_user.total_owed %></h2>
    </div>
    <%= link_to "Invite Users", new_user_invitation_path, class: "btn" %>
    <%= link_to "Logout", destroy_user_session_path, method: "DELETE", class: "btn" %>
  </div>
