<div id="main-header">
  <div id="find-place">
    <%= link_to "Login", new_user_session_path, class:"btn" %>
    <%= link_to "Logout", destroy_user_session_path, method: "DELETE", class:"btn" %>
  </div>
</div>
<div id="main-page">
  <div id="content-container">
    <div id="content">
      <h1>Rmmts</h1>
      <%= form_tag "/society", method: "post" do%>
        <%= text_field_tag(:society) %>
        <%= submit_tag "Go", class:"btn" %>
    <% end %>
    </div>
  </div>
</div>
