<div class="expenses">
  <%= render "/shared/sidebar" %>
  <div class="main-content">
    <%= render "/shared/user_nav" %>
    <div class="content">
      <div class="expense-form">
        <%= form_for [:society, @expense] do |f|%>
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= f.label :amount %>
          <%= f.text_field :amount %>
          <%= f.label :description %>
          <%= f.text_field :description %>
          <%= f.submit %>
        <% end %>
      </div>
      <table class="expenses-table">
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Description</th>
          <th>Submitted By</th>
          <th>State</th>
        </tr>
        <% @expenses.each do |expense| %>
          <tr>
            <td><%= expense.name %></td>
            <td><%= expense.amount %></td>
            <td><%= expense.description %></td>
            <td><%= expense.user.try(:name) %></td>
            <td><%= expense.state %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<div>
